body{
background-color: aquamarine;
font-family: cursive;
margin: 0;
}
header{
background-color: rgb(75, 132, 155);
text-align: center;
padding: 10px 0;
color: #ffebcd;
}
nav ul{
list-style: none;


}
nav ul li{
    display: inline;
margin: 20px;

}
nav ul li a{
color:rgb(66, 35, 175) ;
text-decoration: none;
border-radius: 5px;
}
nav ul li a:hover{
    color: brown;
}
main{
width:80% ;
margin: 10px auto;
}
section{
border: 1px solid grey;
margin: 10px;
padding: 10px;
box-shadow: 2px 2px 5px plum;
border-radius: 5px;
background-color: coral;
}
h2{
    color: rgb(71, 71, 197);
}
h3{
    color: blueviolet;
}
.safari{
border: 1px solid rgb(175, 23, 49);
border-radius: 5px;
margin-bottom: 10px;
padding: 10px;
box-shadow: 2px 2px 2px burlywood;
}
footer{
background-color: rgb(79, 143, 79);
text-align: center;
padding: 1px;
color: rgb(17, 43, 51);
}